.Button {
  cursor: pointer;
  display: inline-block;
  padding: 12px 18px;
  gap: 10px;
  background-color: #58D67B;
  background: #58D67B;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
  transition: opacity 0.15s, transform 0.15s;
}

.Button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.Button.Button-white {
  background: #fff;
  color: #404040;
}

.Button.Button-gray {
  background: #F7F3EE;
  color: #404040;
}

.Button.Button-orange {
  background: #FFA959;
  color: #404040;
}

.Button.margin-left {
  margin-left: 16px;
}

.Button.margin-right {
  margin-right: 16px;
}
