@tailwind base;
@tailwind components;
@tailwind utilities;

/* CROW font: MuseoSans */
@font-face {
  font-family: 'MuseoSans';
  src: url('/font/MuseoSans/webfont/museosans_500-webfont.woff2') format('woff2'),
       url('/font/MuseoSans/webfont/museosans_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans Bold';
  src: url('/font/MuseoSans/webfont/museosans_700-webfont.woff2') format('woff2'),
       url('/font/MuseoSans/webfont/museosans_700-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'MuseoSans', sans-serif;
  color: #040034;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
input {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #404040;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
}

a {
  color: #434190;
}
 
b {
  font-weight: 600;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.heading-2 {
  font-family: "MuseoSans Bold", sans-serif;
  border-bottom: 1px solid #009de0;
  font-weight: 700;
  display: inline-block;
  font-size: 18px;
  line-height: 150%;
}
