.MapTools {
  position: relative;
  margin: 15px;
}

.InfoBox {
  background: #fff;
  position: absolute;
  padding: 1rem;
  left: 0;
  top: 3rem;
  max-width: 1000px;
  height: 500px;
  overflow: auto;
}
